@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* plage de poids */
  font-stretch: 75% 100%; /* plage de largeur */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


.Page_Consultation_FichesGenerees-root * {
  margin : 0;
  padding : 0;
  font-family: 'Inter', sans-serif;
}

.Page_Consultation_FichesGenerees-root {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing : border-box;
    width: 100%;
    height: auto;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e5e5e5;
    padding-top: 30px;
    gap: 30px;
}


/*-------------------------------------------- Partie 'HEADER' ---------------------------------------------------*/

/*partie basse et du milieu de la page*/
.Page_Consultation_FichesGenerees-root .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 130px;
    background-color: #fff;
    border-radius: 25px;
}

/*titre*/
.Page_Consultation_FichesGenerees-root .header .header-titre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Manrope', sans-serif;

}

.Page_Consultation_FichesGenerees-root .header .header-titre h1{
    margin-bottom: 20px;
}

.Page_Consultation_FichesGenerees-root .header .container-ligne-listepartenaires{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.Page_Consultation_FichesGenerees-root .header .container-ligne-listepartenaires .header-listepartenaires .liste-partenaires{
    padding : 15px 12px 15px 40px;
    width: 100%;
    margin-right: 30px;
    border-radius : 5px;
    border : none;
    background-color : #f2f2f2;
    outline : none;
    cursor: pointer;
}


/*-------------------------------------------- Partie 'MAIN' ---------------------------------------------------*/

.Page_Consultation_FichesGenerees-root .main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    height: auto;
    border-radius: 25px;
    background-color: #fff;
}


/*tableau*/
.Page_Consultation_FichesGenerees-root .main .main-table-data{
  width:95%;
  margin-top: 10px;
}

/*icones colonne du tableau*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .icon-tab-colonne{
  margin-left: 6px;
  vertical-align: middle;
}

/*change le curseur pour les colonnes cliquables (où un tri est implémenté)*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Nom,
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Prenom,
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Partenaire,
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Produit{
  cursor: pointer;
}



/*espacement entre les lignes*/
.Page_Consultation_FichesGenerees-root .main .main-table-data tbody td, 
.Page_Consultation_FichesGenerees-root .main .main-table-data thead th{
  padding-top: 10px;
  padding-bottom: 10px;
}

.Page_Consultation_FichesGenerees-root .main .main-table-data td:nth-child(1), .Page_Consultation_FichesGenerees-root .main .main-table-data th:nth-child(1){
  text-align: center;
}

.Page_Consultation_FichesGenerees-root .main .main-table-data td:nth-child(2),
.Page_Consultation_FichesGenerees-root .main .main-table-data td:nth-child(3),
.Page_Consultation_FichesGenerees-root .main .main-table-data td:nth-child(4),
.Page_Consultation_FichesGenerees-root .main .main-table-data td:nth-child(5){
  text-align: left;
}

.Page_Consultation_FichesGenerees-root .main .main-table-data td:nth-child(7){
  text-align: right;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Numero{
  width : 5%;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Nom{
  width : 15%;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Prenom{
  width : 15%;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Compte{
  width : 7%;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Partenaire{
  width : 18%;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Produit{
  width : 30%;
}

/*dimension colonne*/
.Page_Consultation_FichesGenerees-root .main .main-table-data .table-col-Compte_31_12{
  width : 10%;
}

/*tableau entete*/
.Page_Consultation_FichesGenerees-root .main .main-table-data thead tr{
  font-size: 20px;
  background-color: #C6E1F2;
}










/*Style de l'écran lors d'un chargement nécessiant le spinner*/
.Page_Consultation_FichesGenerees-root .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Page_Consultation_FichesGenerees-root .spinner {
  width: 50px;
  height: 50px; /* crée un carré de 50*50 */
  border: 6px solid #f3f3f3; /*crée une bordure au carré*/
  border-top: 6px solid #333; /*change la bordure du haut en blanc*/ 
  border-radius: 50%; /*transforme le carré en cercle*/
  animation: spin 1s linear infinite; /* crée une animation nommée 'spin' avec une durée de 1 seconde, une vitesse de rotation constante et une répétition à l'inifi */
}

@keyframes spin { /*utilise l'animation de 'spin'*/
  to { transform: rotate(360deg); } /*fait tourner l'élément sur lui-même (360°)*/
}
